body {
    color: #444;
    display: flex;
    height: 96vh;
    background-color: #e5d7bd;
}

#app {
    width: 70%;
    margin: auto;
    box-shadow: 4px 4px 20px #888;
    padding: 20px;
    border-radius: 20px;
    background-color: #edcb94;
}

#homePage {
    width: 80%;
    margin: auto;
    box-shadow: 4px 4px 20px #888;
    padding: 20px;
    border-radius: 20px;
    background-color: #ecd1a2;
}

#imgLogin {
    width: 70%;
    height: auto;
    border-radius: 20px;
}

#logoGoogle {
    width: 10%;
    border-radius: 100%;
    margin-top: 5px;
}

#auth {
    display: block;
    text-align: center;
}

.center {
    text-align: center;
}

.startHidden {
    display: none;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    color: #15140e;
    margin: 0;
    font-size: 2vw;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: #15140e;
    margin: 4px;
    font-size: 3vw;
}

hr {
    border: 0;
    height: 1px;
    background-color: #000000;
    margin: 10px 0;
}

input {
    width: 80%;
    margin: 4px;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #151515;
    outline-color: #000000;
    background-color: #e5d7bd;
}

button {
    width: 16vw;
    background-color: #f29c2c;
    font-size: 1.4vw;
    font-family: 'Anton', sans-serif;
    color: white;
    padding: 0.7vw 1vw;
    margin: 1vw;
    border-radius: 8px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

p {
    font-family: 'Anton', sans-serif;
    color: #151515;
    font-size: 1vw;
    margin: 0;
}

.alternative {
    background-color: #f29c2c;
}

.danger {
    background-color: red;
}

#loading {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 1;
}

#auth img {
    cursor: pointer;
    margin: 4px;

}

#auth img:hover {
    opacity: 0.75;
    cursor: pointer;
}

#userImg {
    width: 10%;
    border-radius: 100%;
}

/* Home Page */
#imgHP {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

/* Tab Bar Styles */
.tab-bar {
    height: 20%;
    background-color: #15140e;
    border-radius: 10px;
    overflow: hidden;
}

.tab-bar button {
    background-color: inherit;
    color: #f29c2c;
    border: none;
    outline: none;
    padding: 14px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.4vw;
    font-family: 'Bebas Neue', sans-serif;
}

.tab-bar button:hover {
    background-color: #edcb94;
}

.tab-bar button.active {
    color: #15140e;
    background-color: #edcb94;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

/*forms de eventos*/
label {
    font-family: 'Bebas Neue', sans-serif;
    color: #15140e;
    font-size: 2vw;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="file"] {
    width: 80%;
    margin: 4px;
    padding: 8px;
    font-size: 1.5vw;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #151515;
    outline-color: #000000;
    background-color: #e5d7bd;
}

select {
    width: 25%;
    margin: 4px;
    padding: 8px;
    font-size: 1.5vw;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #151515;
    outline-color: #000000;
    background-color: #e5d7bd;
}

textarea {
    width: 80%;
    margin: 4px;
    padding: 8px;
    font-size: 1.5vw;
    font-family: 'Anton', sans-serif;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px #151515;
    outline-color: #000000;
    background-color: #e5d7bd;
}

#eventContainer .event-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: #e5d7bd;
    box-shadow: 2px 2px 10px #151515;
    transition: box-shadow 0.2s;
    margin-top: 10px;
}

#eventContainer .event-card:hover {
    box-shadow: 4px 4px 20px #888;
    background-color: #edcb94;
}

/* botões de eventos */
#submitEventForm {
    margin: 1vw auto;
    display: flex;
}

#editEventForm {
    margin: 1vw auto;
    display: flex;
}

/* Estilos para a galeria de fotos */
.photo-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: #e5d7bd;
    box-shadow: 2px 2px 10px #151515;
    transition: box-shadow 0.2s;
    margin-top: 10px;
}

.photo-card:hover {
    box-shadow: 4px 4px 20px #888;
    background-color: #edcb94;
}

.event-photo-links a {
    margin-right: 8px;
    color: #e56f15;
    text-decoration: none;
}

.event-photo-links a:hover {
    text-decoration: underline;
}

#createPhoto {
    display: block;
    margin: 10px auto; /* centraliza horizontalmente */
}
